kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: knowledgeos
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 30080
        hostPort: 30080
        protocol: TCP
      - containerPort: 30443
        hostPort: 30443
        protocol: TCP
  - role: worker
    extraMounts:
      - hostPath: /tmp/knowledgeos-workspaces
        containerPath: /workspaces
  - role: worker
    extraMounts:
      - hostPath: /tmp/knowledgeos-workspaces
        containerPath: /workspaces
